@media (max-width: 768px) {
    .dropdown-item,
    .nav-link {
    font-family: Montserrat, sans-serif;
    font-size: 15px !important;
    text-align: center;
    color: #000000 !important;
    background-color: #FEFEFE;
    font-weight: 800;
    }

    .summary-image {
        display: none;
    }
    #prclick {
        display: inline-block !important;
    }
    .navbar-toggler {
        display: inline-block !important;
    }
}

.navbar-toggler {
    display: none;
}

#prclick {
    display: none;
}

.fixed-top {
    position: fixed;
    height: 3.5rem;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.bg-light {
    background-color: #FEFEFE !important;
    font-family: Montserrat, sans-serif;
}

.bg-dark {
    background-color: teal !important;
    font-family: Montserrat, sans-serif;
}

.navbar {
    display: flex;
}

.navbar-brand {
    font-family: 'Oleo Script', cursive;
    font-size: calc(1em + 1vw)
}

hr {
    background-color: #FEFEFE;
    font-family: Montserrat, sans-serif;
}

.hamburger {
    width: 25px;
    height: 5px;
    background-color: #FEFEFE;
    margin: 3px 0;
}

html, 
body {
    min-height: 100%;
}

body {
    font-size: 1em;
    font-family: Montserrat, sans-serif;
    line-height: 150%;
    color: #000000;
    padding-top: 3rem;
    background-color: #FEFEFE;
}

.header-image {
    margin-bottom: 25px;
    width: 100%;
}

h2 {
    font-weight: 600;
}

.teal {
    background-color: teal;
    height: 1px;
}

.footer {
    background-color: teal;
    text-align: center;
}

.foot-text {
    color: #FEFEFE;
    font-family: Montserrat, sans-serif;
} 

.headline {
color: #FEFEFE;
}

.sub-head {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #FEFEFE;
}

.box {
    margin: 1rem;
    padding: 1rem;
    font-size: 13px;
    background-color: #FEFEFE;
    height: 100%;
}

img {
    max-width: 100%;
}

.featured-summary {
    font-size: 20px;
    line-height: 150%;
}

.summary {
    font-size: 15px;
    line-height: 150%;
}

.summary-image {
    /* margin: 10px; */
    margin-right: 10px;
    /* height: 9rem; */
    width: 30%;
    float: left;
}

.embed-responsive-item {
    width: 100%;
    min-height: 800px;
}

.header {
    color: #000000;
}